header{
    background-color: #FF3877 ;
    text-align: center;
    font-size: 1.4vw ;
    padding: 10px;
}
    
.cartao__conteudo{
    padding: 20px;
    border: 1px solid #B3093F ;
    border-radius: 2px;
    box-shadow: 0 4px 6px #451531 ;
    transition: transform 0.2s;
    background-color:  #91d0e0;
    margin: 20px 10px;
    font-size: 1.2vw;
}

.cartao__conteudo:hover{
    transform: scale(1.01);
}

.cartao__conteudo__resposta{
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #A5BEFA;
}
